body {
    font-family: 'Neuton', serif;
    font-family: 'Poppins';
    /* background-color: #97bb35; */
    background-color: teal;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    color: #000;
}

.fix {
	width:100%;
    position: fixed; 
	top: 0;
	left: 0vw;
    z-index: 10;
    color: #000;
	border-radius:5px;
}

.patient_cards .jumbotron {
    width:80%;
    margin-top: 9em;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.footer .jumbotron {
    /* background-color: #b5b462; */
    background-color: #97bb35;
    margin-bottom: 0;
    border-style: none; 
    border-radius: 10px;
    width:98%;
    height: 5em;
    color: #005582;
    bottom: 0;
    left: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1010px) {
    .closer{
        margin-left: 0em;
    }
}