<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/hospitals.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel="stylesheet" />
    <title>Pulmacare | Hospitals</title>
</head>
<body>
    <center>
        <!-- Navbar -->
        <div class="fix">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static',filename='images/logo.png') }}" width="105" height="50"  class="d-inline-block" alt="Logo">
                        <span class="h2 display-5" style="margin-left: 1em;">Pulmacare</span>
                    </a>
    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link h5 display-5" href="{{ url_for('index') }}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h5 display-5" href="{{ url_for('index') }}#howtouse">How To Use</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h5 display-5" href="#contactus">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('logout') }}" class="btn btn-outline-primary closer" style="margin-left: 20em;">Logout</a>
                            </li>    
                        </ul>
                    </div>
                </nav>    
            </div>
        <!-- End of Navbar -->
    
        
        <!-- X-ray upload form -->
        <div class="upload">
            <div class="jumbotron">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="X-ray">X-ray image</label>
                            <input id="file" name="file" type="file" class="btn btn-info" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="patient">Patient</label>
                            <select id='pato' name='pato'>
                                    {%for p in res%}
                                <option value={{p.p_id}}>{{p.name}}</option>
                                {%endfor%}
                            </select>
                            
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Upload</button> 
                        </div>  
                    </div>
                </form>
            </div>
        </div>
        <!-- End of X-ray upload form -->


         <!-- Footer -->
         <a name="contactus"></a>
         <div class="footer">
            <div class="jumbotron">
                <div class="h5 display-5">
                    &copy Copyright @ <a href="{{ url_for('index') }}" class="footer-anchor-tag">Pulmacare</a>
                    <span class="badge badge-warning">Copyright</span>
                    <!-- <a href="https://www.facebook.com" target="_blank"><img src="static/images/facebook.png" style="z-index: 5;" alt="facebook"></a>
                    <a href="https://www.linkedin.com" target="_blank"><img src="static/images/linkedin.png" alt="linkedin"></a>
                    <a href="https://www.youtube.com" target="_blank"><img src="static/images/youtube.png" alt="youtube"></a> -->
                </div> 
            </div>
        </div>
        <!-- End of Footer -->
    </center>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <script src="{{ url_for('static',filename='js/location.js') }}"></script>
</html>